# API gateway
PORT=4000
AUTH_SERVICE_URL=http://localhost:4001
USER_SERVICE_URL=http://localhost:4002
WORKSPACE_SERVICE_URL=http://localhost:4003
CHANNEL_SERVICE_URL=http://localhost:4004
MESSAGING_SERVICE_URL=http://localhost:4005
NOTIFICATION_SERVICE_URL=http://localhost:4006
FILE_SERVICE_URL=http://localhost:4007
SEARCH_SERVICE_URL=http://localhost:4008

# Auth
JWT_ACCESS_SECRET=change-me-access
JWT_REFRESH_SECRET=change-me-refresh
PUBLIC_BASE_URL=http://localhost:4000

# Infra
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/synapsehub
REDIS_URL=redis://localhost:6379
ELASTICSEARCH_NODE=http://localhost:9200
S3_ENDPOINT=http://localhost:9000
S3_BUCKET=synapsehub-files
S3_ACCESS_KEY=minio
S3_SECRET_KEY=minio123
